@import '/assets/default_variables.scss';

.custom-input {
    display: flex;
    flex-direction: column;
    margin-bottom: $space-m;
    font-size: $font-s;

    &__title {
        color: $color-2;
    }

    &__label {
        display: flex;
    }

    &__div {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    &__input {
        background: $color-5;
        border: unset;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-size: $font-m;
        margin-top: $space-xs;
        padding: $space-s $space-m;
        resize: none;

        &_error {
            border: 1px solid $color-3;
        }
    }

    &__help-text {
        position: absolute;
        bottom: -14px;
        color: $color-3;
        font-weight: $font-weight;
        font-size: $font-xs;
    }
}

::placeholder {
    font-family: 'Source Sans Pro', normal;
    font-weight: $font-weight;
    font-size: $font-m;
    color: $color-4;
}

.rectangle {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: $color-3;
}