//size
$width-desktop: 332px;
$width-mobile: 100%;

$height-default: 36px;

//spaces
$space-xs: 4px;
$space-s: 10px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;

//typography
$font-xs: 8px;
$font-s: 10px;
$font-m: 12px;
$font-l: 16px;
$font-xl: 20px;
$font-xxl: 24px;
$font-xxxl: 28px;

$font-weight: 400;
$font-weight-b: 600;

//colors
$color-1: #3F3F3F;
$color-2: #49485E;
$color-3: #FF8484;
$color-4: #B4B4B4;
$color-5: #FFFEFB;
$color-6: #EEEEEE;
$color-7: #FFFFFF;
$color-8: #7BAE73;